
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root {
    --dark-blue: #040d1c;
    --yellow: #f9d350;
}

.home-container{
    width: 100%;
    height: 10vh;
    background-color: var(--dark-blue);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 50px;
    position: relative;
    left: 30px;
}

.logo p{
    font-size: 1.5rem;
    position: relative;
    left: 40px;
    top: 8px;
    color: white;
    
}
.nav-item{
    position: absolute;
    right: 110px;
    display: flex;
}
.nav-item a{
    font-size: 17px;
    text-decoration: none;
    right: 15px;
    margin-right: 25px;
    line-height: 20px;  
    position: relative; 
    color: #fff;
    
}
.active{
    border-bottom: 3px solid var(--yellow);
    color: var(--yellow);
}

.nav-item a:hover{
    color: var(--yellow);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.nav-item a::before{
    content:'';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 3px;
    transition: all 0.5s linear;
    border-radius: 5px;
}

.nav-item a:hover::before{
    width: 100%;
    background-color:var(--yellow);
}

.login-icon i{
    font-size: 1.3rem;
    position: relative;
    right: 55px;
    cursor: pointer;
    color: #fff;
}
.login-icon i:hover{
    color: var(--yellow);
    transform: scale(1.2);
    transition: all 0.3s linear;
}


